
#general{
    margin-left: 30px;
    font-size: 20px;
    font-family: $font-type;
    color: $font-color;
    

    .generalImg{
        margin-left: 600px;
        margin-top: -450px;
    }
}

.slogan{
    text-align: center;
}