
@mixin img-ig-tw{
    width: 30px;
    height: 30px;
    position: relative;
}

.container-fluid{
    .implantologia{
        font-size: 20px;
        font-family: $font-type;
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .impText{
        font-size: 20px;
        font-family: $font-type;
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    .imgInsta{
        @include img-ig-tw();
        left: 70px;
    }
    
    .imgFace{
        width: 30px;
        height: 30px;
    }
    
    .imgTwit{
        @include img-ig-tw();
        right: 70px;
    }
}

