
$font-color: grey;
$font-type: 'Roboto', sans-serif;

@mixin img-ig-tw{
    width: 30px;
    height: 30px;
    position: relative;
}

.redes{
    text-align: right;
    margin-top: 30px;
    margin-right: 100px;

    .alinearTextoRedes{
        margin-right: 120px;
    }

    .imgInsta{
        @include img-ig-tw();
        left: 70px;
    }
    
    .imgFace{
        width: 30px;
        height: 30px;
    }
    
    .imgTwit{
        @include img-ig-tw();
        right: 70px;
    }
}

.bienvenida{
    font-size: 30px;
    text-align: left;
    color: $font-color;
    font-family: $font-type;

    .consultorios{
        width: 30%;
        height: 430px;
        border: 2px solid grey;
        border-radius: 3px; 
        font-size: 30px;
        font-family: $font-type;
        text-align: center;
        color: grey;
        text-shadow: 2px 2px 4px;
        float: left;

        .imgConsultorios{
            width: 150px;
            margin: 1px;
            border-radius: 2px;
            box-shadow: 2px 2px 4px;
            &:hover{
                transform: scale(1.5, 1.5);
            }
            
        }
    }

    .consultas{
        width: 30%;
        font-family: $font-type;
        font-size: 20px;
        float: left;
        text-align: center;
        color: $font-color;
        float: left;
    }
}