$bg-color-principal: linear-gradient(to right, pink, white);

.menu{
    background-image: $bg-color-principal;
    margin-bottom: 150px;
    font-family: 'Montserrat', sans-serif;
    
        li{
            position: relative;
            display: inline-block;
            margin: 10px;
            font-size: 25px;
            padding: 10px;
            text-align: right;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        background-color: darkgrey;
                    }
                }
        }

        a{
            text-decoration: none;
            color: black;
        }
}        