body {
  background-image: linear-gradient(to right, aquamarine, white); }

.menu {
  background-image: linear-gradient(to right, pink, white);
  margin-bottom: 150px;
  font-family: 'Montserrat', sans-serif; }
  .menu li {
    position: relative;
    display: inline-block;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
    text-align: right; }
    .menu li a {
      text-decoration: none;
      color: black; }
      .menu li a:hover {
        background-color: darkgrey; }
  .menu a {
    text-decoration: none;
    color: black; }
  .menu .header2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    width: 250px;
    background-image: linear-gradient(to right, pink, white); }

.redes {
  text-align: right;
  margin-top: 30px;
  margin-right: 100px; }
  .redes .alinearTextoRedes {
    margin-right: 120px; }
  .redes .imgInsta {
    width: 30px;
    height: 30px;
    position: relative;
    left: 70px; }
  .redes .imgFace {
    width: 30px;
    height: 30px; }
  .redes .imgTwit {
    width: 30px;
    height: 30px;
    position: relative;
    right: 70px; }

.bienvenida {
  font-size: 30px;
  text-align: left;
  color: grey;
  font-family: "Roboto", sans-serif; }
  .bienvenida .consultorios {
    width: 20%;
    height: 430px;
    border: 2px solid grey;
    border-radius: 3px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: grey;
    text-shadow: 2px 2px 4px;
    float: left; }
    .bienvenida .consultorios .imgConsultorios {
      width: 150px;
      margin: 1px;
      border-radius: 2px;
      box-shadow: 2px 2px 4px; }
      .bienvenida .consultorios .imgConsultorios:hover {
        transform: scale(1.5, 1.5); }
  .bienvenida .consultas {
    width: 30%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    float: left;
    text-align: center;
    color: grey;
    float: left; }

#frecuentes {
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: left; }

.contacto {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-left: 30px;
  color: grey; }
  .contacto .iframe {
    width: 470px; }

#contactoTitle {
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  color: grey; }

.container-fluid .implantologia {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px; }

.container-fluid .impText {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px; }

.container-fluid .imgInsta {
  width: 30px;
  height: 30px;
  position: relative;
  left: 70px; }

.container-fluid .imgFace {
  width: 30px;
  height: 30px; }

.container-fluid .imgTwit {
  width: 30px;
  height: 30px;
  position: relative;
  right: 70px; }

.header2 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  width: 250px;
  background-image: linear-gradient(to right, pink, white); }

#ortText {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  width: 35%;
  margin-left: 20px;
  color: grey; }

#ortSubtit {
  text-align: center;
  width: 40%;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  color: grey; }

.contacto {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-left: 30px;
  color: grey; }
  .contacto .imgText {
    margin-left: 250px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    color: grey; }
  .contacto .imgOrt {
    width: 380px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    margin-left: 70px; }

#redesImgOrt {
  margin: 40px;
  text-align: right;
  height: 100px;
  align-items: center;
  color: grey; }
  #redesImgOrt .imgInsta {
    width: 30px;
    height: 30px;
    position: relative;
    left: 70px; }
  #redesImgOrt .imgFace {
    width: 30px;
    height: 30px; }
  #redesImgOrt .imgTwit {
    width: 30px;
    height: 30px;
    position: relative;
    right: 70px; }

#general {
  margin-left: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: grey; }
  #general .generalImg {
    margin-left: 600px;
    margin-top: -450px; }

.slogan {
  text-align: center; }

.footer {
  height: 100px;
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
  background-image: linear-gradient(to right, pink, white); }
