
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, aquamarine, white);
}

.menu{
    background-image: linear-gradient(to right, pink, white);
    text-align: right !important;
    margin-bottom: 150px;
    font-family: 'Montserrat', sans-serif;
}

.menu li{
    position: relative;
    display: inline-block;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
    text-align: right;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu li a:hover{
    background-color: darkgrey;
}

.footer{
    height: 100px;
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
    background-image: linear-gradient(to right, pink, white);
}

/* index.html */

.redes{
    text-align: right;
    margin-top: 30px;
    margin-right: 100px;
}

.alinearTextoRedes{
    margin-right: 120px;
}

.imgInsta{
    width: 30px;
    height: 30px;
    position: relative;
    left: 70px;
}

.imgFace{
    width: 30px;
    height: 30px;
}

.imgTwit{
    width: 30px;
    height: 30px;
    position: relative;
    right: 70px;
}

.header2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    width: 250px;
    background-image: linear-gradient(to right, pink, white);
}

.bienvenida{
    font-size: 30px;
    text-align: left;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

.consultorios{
    width: 30%;
    height: 430px;
    border: 2px solid grey;
    border-radius: 3px; 
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: grey;
    text-shadow: 2px 2px 4px;
    float: left;
}


.imgConsultorios{
    width: 150px;
    margin: 1px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px;
}

.imgConsultorios:hover{
    transform: scale(1.5, 1.5);
}

.consultas{
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    float: left;
    text-align: center;
    color: grey;
}

/* ortodoncia.html*/

#ortText{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width: 35%;
    margin-left: 20px;
    color: grey;
}

#ortSubtit{
    text-align: center;
    width: 40%;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

.imgText{
    margin-left: 250px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

.imgOrt{
    width: 380px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    margin-left: 70px;
}

#redesImgOrt{
    margin: 40px ;
    text-align: right;
    height: 100px;
    align-items: center;
    color: grey;
}

/* Blog.html */

#frecuentes{
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;    
}

/* odGeneral.html */

#general{
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

.generalImg{
    margin-left: 600px;
    margin-top: -450px;
}

.slogan{
    text-align: center;
}

/* Implantología.html */

.implantologia{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.impText{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

/* contacto.html */

.contacto{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    color: grey;
}

#contactoTitle{
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    color: grey;
}

.iframe{
    width: 470px;
}





