
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left, pink, white);
}

/* index.html */

img{
    width: 150px;
    margin-left: 100px;
}

.redes{
    text-align: right;
    margin-top: 30px;
    margin-right: 100px;
}

.alinearTextoRedes{
    margin-right: 120px;
}

.imgInsta{
    width: 30px;
    height: 30px;
    position: relative;
    left: 70px;
}

.imgFace{
    width: 30px;
    height: 30px;
}

.imgTwit{
    width: 30px;
    height: 30px;
    position: relative;
    right: 70px;
}

.header{
    display: flex;
    width: 100%;
    margin-bottom: 70px;
}

.logo{
    margin-bottom: 70px;
    background-color: aqua;
}

.menu{
    margin-bottom: 150px;
    font-family: 'Montserrat', sans-serif;;
    padding-top: 10px;
}

.menu li{
    position: relative;
    display: inline-block;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
    text-align: right;
}

.menu a{
    text-decoration: none;
    color: grey;
}

.menu li a:hover{
    background-color: rgb(252, 153, 169);
}

.submenu{
    position: absolute;
    display: none;
}

.submenu li {
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: left;
}

.menu li:hover .submenu{
    display: block;
}

.bienvenida{
    font-size: 30px;
    text-align: left;
    color: grey;
    font-family:'Times New Roman', Times, serif;
}

.intro{
    margin-left: 30px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.consultorios{
    width: 30%;
    /* border: 2px solid grey;
    border-radius: 3px; */
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: grey;
    text-shadow: 2px 2px 4px;
    float: left;
}


.imgStyle{
    margin: 1px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px;
}

.imgStyle:hover{
    transform: scale(1.05, 1.05);
}

.consultas{
    width: 30%;
    font-family: 'Montserrat', sans-serif;;
    font-size: 20px;
    float: left;
    text-align: center;
    color: grey;
    float: left;
}

.footer{
    height: 100px;
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
}

/* ortodoncia.html*/

#ortTexto{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width: 40%;
    margin-left: 20px;
}

#ortSubtit{
    text-align: center;
    width: 40%;
    padding: 40px;
    font-family: sans-serif;
}

#brackets{
    display: flex;
    align-items: flex-start;
    width: 100%;
}

#metImg{
    width: 35%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}

#metaText{
    margin-left: 100px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}

#bracketPorce{
    padding-top: 20px;
    width: 50%;
}

#porceImg{
    width: 30%;
    margin-left: 260px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}

#porceText{
    padding-top: 20px;
    margin-left: 260px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
}

#contentPorce{
    width: 20%;
}

#zafiroImg{
    margin-right: 100px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}

#zafiroText{
    padding-top: 20px;
    margin-left: 110px;
    font-family: 'Roboto', sans-serif;
}

#brackets2{
    display: flex;
    align-content: center;
}

#invImg{
    width: 25%;
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}

#invText{
    padding-top: 20px;
    margin-left: 320px;
    font-family: 'Roboto', sans-serif;
}

#infImg{
    width: 95%;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}

#infText{
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#footOrt{
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

#redes2Text{
    display: flex;
    justify-content: end;
}

/* Blog.html */

#frecuentes{
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;    
}

#imgListGral{
    width: 30%;
    display: grid;
    justify-content: left;
    order: 1;
}





.odGeneral{
    margin-right: 100px;
    font-family: 'Roboto', sans-serif;
}


.implantologia{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.impText{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

/* contacto.html */

.contacto{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}






